 <!-- ========== FOOTER ========== -->
<footer class="bg-dark">
    <div class="container">
        <div class="row align-items-md-center py-2">
            <div class="col-md">
                <!-- List -->
                <ul class="list-inline list-px-2 mb-0">
                    <li class="list-inline-item"><a class="link link-light link-light-75" target="_blank" href="https://app.360scm.com">360scm.com</a></li>
                    <li class="list-inline-item"><a class="link link-light link-light-75" target="_blank" href="https://www.qt-asia.com">qt-asia.com</a></li>
                    <li class="list-inline-item"><a class="link link-light link-light-75" target="_blank" href="~/admin/">admin entry</a></li>
                    <li class="list-inline-item"><a class="link link-light link-light-75" target="_blank" href="~/swagger/">api docs(swagger)</a></li>
                </ul>
                <!-- End List -->
            </div>
            <!-- End Col -->

            <div class="col-md-auto">
                <p class="fs-5 text-white-70 mb-0">© Quantum.Framework. 2023</p>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
</footer>
