<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>@ViewData["Title"]</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico" asp-append-version="true">
    <link href="~/lib/normalize.css" rel="stylesheet" />
    <style type="text/css">
        html {
            overflow-x: hidden;
            overflow-y: scroll;
            box-sizing: border-box;
            font-size: 16px;
            font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
            direction: ltr;
            min-height: 100vh;
        }

        body {
            background-color: aqua;
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            line-height: 160%;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 100%;
            box-sizing: inherit;
        }

        header {
            background-color: antiquewhite;
            flex-shrink: 0;
            height: 100px;
        }

        main {
            flex-grow: 1;
            flex-shrink: 1;
        }

        .main-wrapper {
            display: flex;
        }

        #left-container {
            background-color: aquamarine;
            width: 25%;
            flex: none;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            height: 100vh;
            overflow-y: auto;
            overflow-x: auto;
        }

        .primary-holder {
            background-color: beige;
            width: 75%;
            flex: none;
        }

        footer {
            background-color: cadetblue;
            height: 61px;
        }
    </style>
    @await RenderSectionAsync("Headers", required: false)
</head>

<body>
    <header>
        Header
    </header>
    <main role="main" class="pb-3">
        <div class="main-wrapper">
            <div id="left-container">
            </div>
            <div class="primary-holder">
                @RenderBody()
            </div>
        </div>
    </main>

    <footer>
        &copy; 2022 - NIUSYS-CMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
