@using Niusys.Docs.Web.Components;
@model MarkdownModel
@{
    Layout = "_Layout";
    var model = ViewContext.HttpContext.Items["MarkdownProcessor_Model"] as MarkdownModel;
    var defaultActivePath = $"{model.DocProject.RequestPath}/{model.RelativePath}";
}
@section Headers {
    <style type="text/css">
        .primary-holder img {
            max-width: 100%;
        }

        .primary-holder code {
            font-size: 14px;
        }

        .left-container {
            height: auto;
        }
    </style>
    <style>
        @@media (min-width: 992px) {
            .navbar-expand-lg .navbar-expand-hide {
                display: none;
            }
        }
    </style>
}
<!-- ========== MAIN CONTENT ========== -->
<div class="container-fluid">
    <div class="main-wrapper row">
        @if (Model.DocProject.IsUseNavMenu)
        {
            <div class="left-container col-12 col-md-2">
                @await Component.InvokeAsync("NavMenu")
            </div>
        }
        <div class="primary-holder col">
            @Model.RenderedMarkdown
        </div>
        @if (Model.DocProject.IsUseVersionViews)
        {
            <div class="right-container col-12 col-md-2">
                @await Component.InvokeAsync("ViewList")
            </div>
        }
    </div>
</div>
<!-- ========== END MAIN CONTENT ========== -->
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
        mermaid.initialize({
            startOnLoad: true,
            logLevel: "error"
        });
        mermaid.parseError = function (err, hash) {
            window.console.error(err);
        };
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs2015.min.css" rel="stylesheet" />
    <script>
        setTimeout(function () {
            var pres = document.querySelectorAll("pre>code");
            for (var i = 0; i < pres.length; i++) {
                hljs.highlightBlock(pres[i]);
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            NavTree.createBySelector(".nav-tree", {
                searchable: true,
                showEmptyGroups: true,

                groupOpenIconClass: "bi",
                groupOpenIcon: "bi-chevron-down",

                groupCloseIconClass: "bi",
                groupCloseIcon: "bi-chevron-right",

                linkIconClass: "bi",
                linkIcon: "bi-link",

                searchPlaceholderText: "Search",

                iconPlace: "start",
                defaultUrl: "@defaultActivePath"
            });
        });
    </script>
}
